// imports

@import "html5reset.css";
@import "regions.css";
@import "styleguide.less";

.font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  &.bold {
    font-weight: 700;
  }
}

.titlefont {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  &.bold {
    font-weight: 700;
  }
}

// vars / classes

@basecolor: rgb(4,145,198);
@seccolor: rgb(242,104,37);

.transit {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

// admin menu hack

body.admin-menu {margin-top:0 !important;}
#admin-menu {
  position: fixed;
  top: 0;
  right: -140px;
  left: auto;
  width: 140px;
  height: 100%;
  .transit;
  overflow: visible;
  &:hover {
    right: 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: 50px;
    left: -29px;
    width: 30px;
    height: 30px;
    background: url(../images/icon-settings.svg) no-repeat 3px center;
    background-color: #202020;
    background-size: 20px;
    border-radius: 50% 0 0 50%;
    padding: 0;
    z-index: 99;
  }
  ul#admin-menu-menu {
    > li {
      display: inline-block;
      width: 100%;
      > ul {
        margin: -28px 0 0 -160px;
        > li > ul {
          margin: -28px 0 0 -160px;
        }
      }
    }
  }
}

// theme

h1 {
  font-size: 40px;
  .titlefont;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  margin: 0 0 80px;
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
  span {
    border-bottom: 3px solid @basecolor;
    position: relative;
    margin-bottom: 0;
    &:after {
      content: "";
      position: absolute;
      border: 10px solid transparent;
      border-top: 10px solid @basecolor;
      left: 50%;
      margin-left: -10px;
      bottom: -21px;
    }
  }
}

h2 {
  font-size: 24px;
  text-align: left;
  .titlefont;
  margin: 0 0 10px;
  color: @seccolor;
  padding: 0 0 10px;
  border-bottom: 1px dashed #ddd;
  a {
    color: @seccolor;
    .transit;
    &:hover {
      color: @basecolor;
    }
  }
}

#intro {
  #block-block-3 {
    h2 {
      text-align: center;
      color: rgba(255,255,255,0.75);
      padding: 0;
      margin: 0;
      border: 0;
    }
  }
}

h3 {
  font-size: 24px;
  .titlefont;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.field-name-body {
  font-size: 18px;
  font-weight: 400;
  .font;
  h2 {
    font-size: 24px;
    text-align: left;
    margin: 30px 0 10px;
    color: @seccolor;
    padding: 0 0 10px;
    border-bottom: 1px dashed #ddd;
  }
  h3 {
    font-style: 18px;
    text-align: center;
    margin: 20px 0 0;
    color: @basecolor;
    padding: 0 0 10px;
  }
  p {
    margin: 0 0 10px;
  }
  table tr td p {
    margin: 7px 0;
  }
}

.field-name-body ul, ol {
  padding: 10px 20px 10px 40px;
  margin: 20px 0;
  border-left: 5px solid #eee;
  list-style: none;
  > li {
    list-style: none;
    position: relative;
    &:before {
      content: "\f0a9";
      left: -24px;
      top: 3px;
      position:  absolute;
      font-family: FontAwesome;
      font-size: 15px;
      color: #bbb;
    }
  }
}

.page-node-5 {
  #content-content {
    .field-name-body {
      text-align: center;
      .dateboxcontainer {
        text-align: center;
        .datebox {
          display: inline-block;
          vertical-align: top;
          width: 26%;
          .well;
          margin: 20px 1% 0;
          min-height: 20px;
          padding: 0 2%;

          h2 {
            text-align: center;
            margin-top: 15px;
          }
          ul {
            text-align: left;
          }
        }
      }
    }
  }
}

iframe {
  padding: 19px;
  max-width: 100%;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.cta {
  text-transform: uppercase;
  color: #fff;
  margin: 10px 0 5px;
  display: inline-block;
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  .transit;
  border-radius: 4px;
  padding: 0 40px;
  background: @basecolor;
  display: inline-block;
  text-align: center;
  &:hover {
    background: @seccolor;
    color: #fff;
  }
}

input {
  &.form-text {
    display: block;
    width: 94%;
    height: 34px;
    padding: 6px 3%;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  }
  &.form-submit {
    background: @basecolor;
    padding: 5px 10px;
    border-radius: 4px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    .transit;
    &:hover {
      background: @seccolor;
    }
  }
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
  tr {
    border-bottom: 1px solid #ddd;
    &:first-child {
      border-bottom: 3px solid #ddd;
      font-weight: 400;
    }
    td {
      vertical-align: middle;
    }
  }
}

body {
  .font;
  #bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    ul {
      height: 100%;
      display: block;
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        z-index: 9999;
        background: url(../images/bg/pattern.svg) repeat left top;
      }
      li.slide {
        height: 100%;
        &.slide01 {
          background: url(../images/bg/dcg2014-01.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide02 {
          background: url(../images/bg/dcg2014-02.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide03 {
          background: url(../images/bg/dcg2014-03.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide04 {
          background: url(../images/bg/dcg2014-04.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide05 {
          background: url(../images/bg/dcg2014-05.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide06 {
          background: url(../images/bg/dcg2014-06.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide07 {
          background: url(../images/bg/dcg2014-07.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide08 {
          background: url(../images/bg/dcg2014-08.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide09 {
          background: url(../images/bg/dcg2014-09.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide10 {
          background: url(../images/bg/dcg2014-10.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide11 {
          background: url(../images/bg/dcg2014-11.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide12 {
          background: url(../images/bg/dcg2014-12.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide13 {
          background: url(../images/bg/dcg2014-13.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide14 {
          background: url(../images/bg/dcg2014-14.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide15 {
          background: url(../images/bg/dcg2014-15.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide16 {
          background: url(../images/bg/dcg2014-16.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide17 {
          background: url(../images/bg/dcg2014-17.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide18 {
          background: url(../images/bg/dcg2014-18.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide19 {
          background: url(../images/bg/dcg2014-19.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide20 {
          background: url(../images/bg/dcg2014-20.jpg) no-repeat center;
          background-size: cover;
        }
        &.slide21 {
          background: url(../images/bg/dcg2014-21.jpg) no-repeat center;
          background-size: cover;
        }
      }
    }
  }
  .closemenubutton {
    height: 45px;
    width: 45px;
    text-align: center;
    position: fixed;
    left: 219px;
    top: 16px;
    z-index: 99;
    .transit;
    svg path {
      .transit;
      fill: @seccolor;
    }
    svg#closemenubutton-closed {
      display: none;
    }
    svg#closemenubutton-open {
      display: block;
    }
    &:hover {
      svg path {
        fill: @basecolor;
      }
    }
    &.open {
      left: 55px;
      svg path {
        .transit;
        fill: @seccolor;
      }
      svg#closemenubutton-closed {
        display: block;
      }
      svg#closemenubutton-open {
        display: none;
      }
      &:hover {
        svg path {
          fill: @basecolor;
        }
      }
    }
  }
  #navbar {
    position: fixed;
    z-index: 35;
    left: 0;
    top: 0;
    width: 40px;
    overflow: hidden;
    height: 100%;
    padding: 0;
    background: rgba(0,0,0,0.7);
    .transit;
    &.open, &:focus, &:active {
      width: 204px;
    }
    #block-system-main-menu {
      > .content > ul.menu {
        margin: 0;
        padding: 0;
        list-style: none;
        > li {
          margin: 0;
          padding: 10px;
          list-style: none;
          border-bottom: 1px solid #444;
          > a {
            font-size: 16px;
            color: rgba(255,255,255,0.7);
            .transit;
            &:hover, &:focus, &:active {
              color: @seccolor;
            }
          }
          &.expanded {
            position: relative;
            &:after {
              content: "\f13a";
              font-family: FontAwesome;
              position: absolute;
              left: 0;
              top: 0;
              margin-left: 174px;
              margin-top: 18px;
              font-size: 15px;
              color: rgba(255,255,255,0.7);
              cursor: pointer;
              &:hover, &:focus, &:active {
                color: @seccolor;
              }
            }
            &.open {
              padding-bottom: 0;
              background: #222;
              a.active {
                color: #fff;
              }
            }
          }
          // &:first-child {
          //   background: @basecolor;
          //   padding: 6px 10px;
          //   position: relative;
          //   > a {
          //     cursor: default;
          //     &:before {
          //       content: "\f0c9";
          //       font-family: FontAwesome;
          //       font-size: 22px;
          //       margin-right: 14px;
          //       color: rgba(255,255,255,0.7);
          //     }
          //   }
          // }
          &:nth-child(1) > a {
            &:before {
              content: "\f015";
              font-family: FontAwesome;
              font-size: 22px;
              margin-right: 12px;
              .transit;
              color: rgba(255,255,255,0.7);
            }
            &:hover, &:focus, &:active, &.active {
              &:before {
                color: @seccolor;
              }
            }
          }
          &:nth-child(2) > a {
            &:before {
              // content: "\f073";
              content: "\f1a9";
              font-family: FontAwesome;
              font-size: 22px;
              margin-right: 12px;
              .transit;
              color: rgba(255,255,255,0.7);
              margin-top: -2px;
            }
            &:hover, &:focus, &:active, &.active {
              &:before {
                color: @seccolor;
              }
            }
          }
          &:nth-child(3) > a {
            &:before {
              // content: "\f05a";
              // content: "\f007";
              content: "\f005";
              font-family: FontAwesome;
              font-size: 22px;
              margin-right: 14px;
              .transit;
              color: rgba(255,255,255,0.7);
            }
            &:hover, &:focus, &:active, &.active {
              &:before {
                color: @seccolor;
              }
            }
          }
          &:nth-child(4) > a {
            &:before {
              content: "\f041";
              font-family: FontAwesome;
              font-size: 22px;
              margin-right: 15px;
              .transit;
              color: rgba(255,255,255,0.7);
              margin-left: 2px;
            }
            &:hover, &:focus, &:active, &.active {
              &:before {
                color: @seccolor;
              }
            }
          }
          &:nth-child(5) > a {
            &:before {
              content: "\f0c0";
              font-family: FontAwesome;
              font-size: 22px;
              margin-right: 11px;
              margin-left: -2px;
              .transit;
              color: rgba(255,255,255,0.7);
            }
            &:hover, &:focus, &:active, &.active {
              &:before {
                color: @seccolor;
              }
            }
          }
          &:nth-child(6) > a {
            display: block;
            width: 204px;
            &:before {
              content: "\f007";
              font-family: FontAwesome;
              font-size: 22px;
              margin-right: 14px;
              .transit;
              color: rgba(255,255,255,0.7);
            }
            &:hover, &:focus, &:active, &.active {
              &:before {
                color: @seccolor;
              }
            }
          }
          &:nth-child(7) > a {
            display: block;
            width: 204px;
            &:before {
              content: "\f011";
              font-family: FontAwesome;
              font-size: 22px;
              margin-right: 14px;
              .transit;
              color: rgba(255,255,255,0.7);
            }
            &:hover, &:focus, &:active, &.active {
              &:before {
                color: @seccolor;
              }
            }
          }
          &.searchform-mainmenu {
            padding: 0;
            #search-block-form {
              width: 204px;
              padding: 0;
              position: relative;
              &:before {
                content: "\f002";
                font-family: FontAwesome;
                position: absolute;
                left: 10px;
                top: 9px;
                z-index: 2;
                font-size: 22px;
                margin-right: 14px;
                .transit;
                color: rgba(255,255,255,0.7);
              }
              &:hover, &:focus, &:active, &.active {
                &:before {
                  color: @seccolor;
                }
              }
            }
            input.form-text {
              width: 158px;
              padding: 8px 7px 8px 36px;
              border-radius: 0;
              background: transparent;
              color: #fff;
              border: 0;
            }
            input.form-submit {
              display: none;
            }
          }
          > ul {
            display: none;
            list-style: none;
            margin: 10px 0 0;
            > li {
              list-style: none;
              margin: 0;
              width: 200px;
              margin-left: -10px;
              padding: 0;
              border-top: 1px dashed #444;
              > a {
                font-size: 14px;
                font-style: italic;
                padding: 5px 10px 7px 40px;
                display: block;
                margin: 0;

                &:hover, &:focus, &:active, &.active {
                  color: @seccolor;
                }
              }
            }
          }
        }
      }
    }
  }
  .maincontainer {
    margin-left: 40px;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    z-index: 36;
    .transit;
    &.open {
      margin-left: 204px;
      #content {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    // &:hover, &:focus, &:active {
    //   margin-left: 40px;
    // }
    #intro {
      background: transparent;
      text-align: center;
      padding: 0;
      color: #fff;
      #intro-inner {
        position: relative;
        padding-top: 160px;
        .region-intro {
          .block {
            .intro-logo {
            	max-width: 550px;
            	margin: 0 auto;
            }
            .intro-body {
              max-width: 600px;
              margin: 20px auto;
              text-shadow: 0 0 5px rgba(0,0,0,0.5);
              display: inline-block;
              h2 {
                font-size: 44px;
                text-transform: uppercase;
                margin: 30px 0;
                padding: 0 0 30px;
                background: url(../images/line.svg) no-repeat center bottom;
                .font;
                span {
                  color: @basecolor;
                  line-height: 1;
                }
              }
              p {
                font-weight: 300;
              }
            }
            .intro-cta {
              margin-top: 30px;
              position: relative;
              ul {
                list-style: none;
                text-align: center;
                > li {
                  list-style: none;
                  display: inline-block;
                  .transit;
                  > a {
                    color: #fff;
                    font-weight: 300;
                    text-transform: uppercase;
                    font-size: 16px;
                    border: 1px solid #fff;
                    border-radius: 4px;
                    padding: 10px 20px;
                    margin: 0 10px;
                    background: transparent;
                    .transit;
                    &:hover, &:focus, &:active {
                      background: #fff;
                      color: #444;
                    }
                  }
                  > .content {
                    opacity: 0;
                    position: absolute;
                    z-index: -1;
                    bottom: 60px;
                    padding: 20px;
                    left: 50%;
                    background: #fff;
                    color: #444;
                    margin-left: -300px;
                    width: 560px;
                    border-radius: 4px;
                    font-weight: 300;
                    .transit;
                  }
                  &:nth-child(1) {
                    > .content {
                      &:after {
                        content: "";
                        position: absolute;
                        bottom: -20px;
                        left: 135px;
                        border: 10px solid transparent;
                        border-top: 10px solid #fff;
                      }
                    }
                  }
                  &:nth-child(2) {
                    > .content {
                      &:after {
                        content: "";
                        position: absolute;
                        bottom: -20px;
                        left: 258px;
                        border: 10px solid transparent;
                        border-top: 10px solid #fff;
                      }
                    }
                  }
                  &:nth-child(3) {
                    > .content {
                      &:after {
                        content: "";
                        position: absolute;
                        bottom: -20px;
                        right: 168px;
                        border: 10px solid transparent;
                        border-top: 10px solid #fff;
                      }
                    }
                  }
                  &:hover {
                    > .content {
                      opacity: 1;
                      z-index: 5;
                    }
                  }
                }
              }
            }
          }
          #block-block-3 {
            position: absolute;
            top: 25px;
            left: 0;
            width: 100%;
            h2 {
              .titlefont;
              opacity: 0.6;
              font-size: 18px;
            }
            .front-sponsors {
              text-align: center;
              width: 100%;
              margin-top: -12px;
              > a {
                display: inline-block;
                vertical-align: middle;
                margin: 10px 20px;
                img {
                  width: 250px;
                  opacity: 0.7;
                  .transit;
                  &:hover, &:focus, &:active {
                    opacity: 1;
                  }
                }
              }
            }
          }
          #block-block-4 {
            margin-top: 60px;
            color: #fff;
            font-size: 18px;
          }
          #block-block-5 {
            margin-top: 60px;
            color: #fff;
            font-size: 18px;
          }
        }
      }
    }
    #menubar {
      display: none;
      height: 40px;
      padding: 15px 0;
      margin-top: 0;
      background: rgba(255,255,255,0.9);
      background-size: cover;
      position: relative;
      box-shadow: 0 0 10px rgba(0,0,0,0.4);
      .sliderbutton {
        position: absolute;
        cursor: pointer;
        width: 38px;
        height: 40px;
        z-index: 99;
        .transit;
        opacity: 0.6;
        &.block-user-login {
          background: url(../images/icon-user.svg) no-repeat center;
          right: 60px;
          top: 15px;
        }
        &.block-system-user-menu {
          background: url(../images/icon-user.svg) no-repeat center;
          right: 60px;
          top: 15px;
        }
        &.block-system-main-menu {
          background: url(../images/icon-menu.svg) no-repeat center;
          left: 20px;
          top: 15px;
          &.open {
            &:before {
              content: "\f0a8";
              font-family: FontAwesome;
              font-size: 20px;
              margin-right: 10px;
              color: #444;
            }
          }
        }
        &.block-search-form {
          background: url(../images/icon-search.svg) no-repeat center;
          right: 20px;
          top: 15px;
        }
        &:hover, &:focus, &:active {
          opacity: 1;
        }
        &.open {
          opacity: 1;
          background-color: #ddd;
          border-radius: 5px;
        }
      }
      #block-user-login {
        position: absolute;
        border-radius: 4px;
        z-index: 998;
        right: 20px;
        bottom: 75px;
        top: auto;
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
        padding: 20px;
        &:after {
          content: "";
          position: absolute;
          border: 10px solid transparent;
          border-top: 10px solid #fff;
          bottom: -20px;
          top: auto;
          right: 48px;
        }
      }
      #block-system-user-menu {
        position: absolute;
        border-radius: 4px;
        z-index: 998;
        right: 20px;
        bottom: 75px;
        top: auto;
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
        padding: 20px;
        &:after {
          content: "";
          position: absolute;
          border: 10px solid transparent;
          border-top: 10px solid #fff;
          bottom: -20px;
          top: auto;
          right: 48px;
        }
      }
      #block-search-form {
        position: absolute;
        border-radius: 4px;
        z-index: 1000;
        right: 20px;
        bottom: 75px;
        top: auto;
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
        padding: 20px;
        &:after {
          content: "";
          position: absolute;
          border: 10px solid transparent;
          border-top: 10px solid #fff;
          bottom: -20px;
          top: auto;
          right: 8px;
        }
      }
      &.sticky {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 999;
        #block-user-login {
          top: 75px;
          bottom: auto;
          &:after {
            bottom: auto;
            top: -20px;
            border: 10px solid transparent;
            border-bottom: 10px solid #fff;
          }
        }
        #block-system-user-menu {
          top: 75px;
          bottom: auto;
          &:after {
            bottom: auto;
            top: -20px;
            border: 10px solid transparent;
            border-bottom: 10px solid #fff;
          }
        }
        #block-system-main-menu {
          top: 0;
          bottom: auto;
          &:after {
            bottom: auto;
            top: -20px;
            border: 10px solid transparent;
            border-bottom: 10px solid #000;
          }
        }
        #block-search-form {
          top: 75px;
          bottom: auto;
          &:after {
            bottom: auto;
            top: -20px;
            border: 10px solid transparent;
            border-bottom: 10px solid #fff;
          }
        }
      }
      #menubar-inner {
        text-align: center;
        a#logo {
          margin: 0;
          display: inline-block;
          text-align: center;
          img {
            width: auto;
            height: 40px;
          }
        }
        #name-and-slogan {
          float: left;
          margin: 7px 0;
          a {
            text-transform: uppercase;
            color: #666;
            .font;
            font-size: 20px;
          }
        }
      }
    }
    #preface {
      background: #f6f6f6;
      &.sticky {
        margin-top: 70px;
      }
    }
    #content {
      background: #f6f6f6;
      padding: 50px 0 100px;
      margin-top: 0;
    }
    #postscript {
      background: #ddd;
      padding: 50px 0 30px;
      #block-views-cod-sponsors-block {
        text-align: center;
        .views-row {
          opacity: 0.3;
          .transit;
          display: inline-block;
          vertical-align: top;
          width: 33%;
          margin-bottom: 20px;
          img {
            max-height: 70px;
            width: auto;
          }
          &:hover, &:focus, &:active {
            opacity: 0.8;
          }
        }
      }
    }
    #footer {
      background: #202020;
      color: #888;
      font-size: 14px;
      text-align: center;
      a {
        color: @basecolor;
      }
    }
  }
}

// front and not-front
body {
  &.front {
    .tabs {
      display: none;
    }
  }
  &.not-front {
    #bg {
      left: 0;
      background: #202020;
      top: 0;
      ul li.slide {
        height: 140px;
      }
    }
    #navbar {
      z-index: 35;
    }
    .maincontent {
      box-shadow: 0 0 15px rgba(0,0,0,0.6);
      z-index: 36;
    }
    #intro {
      height: 140px;
      #intro-inner {
        // position: fixed;
        // width: 600px;
        // left: 50%;
        // margin-left: -300px;
        // top: 0;
        // height: 140px;
      }
    }
    #menubar {
      display: none;
    }
    #content {
      margin-top: 0;
      padding: 50px 0 100px;
      z-index: 30;
      position: relative;
    }
  }
}

body.not-logged-in #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(8) > a:before {
  content: "\f055";
  font-family: FontAwesome;
  font-size: 22px;
  margin-right: 14px;
  .transit;
  color: rgba(255,255,255,0.7);
}

// search page
.page-search {
  #content-content {
    .search-form {
      position: relative;
      input.form-submit {
        position: absolute;
        right: 10px;
        top: 34px;
      }
    }
    .search-results {
      li.search-result {
        &:before {
          top: 4px;
        }
        h3 {
          text-align: left;
        }
        .search-snippet-info {
          padding-left: 0;
          strong {
            font-weight: 300;
            color: @seccolor;
          }
        }
      }
    }
  }
}

// user page
.page-user {
  #content-content {
    .user-profile {
      .group-left {
        width: 30%;
        > .field-name-ds-user-picture {
          float: left;
          a {
            display: block;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
              top: 0;
              left: 0;
            }
            > img {
              display: block;
            }
          }
        }
      }
      .group-right {
        width: 67%;
        float: right;
        padding-top: 20px;
        .field-name-field-profile-first {
          float: left;
          margin-right: 10px;
          font-size: 40px;
          margin-bottom: 0;
        }
        .field-name-field-profile-last {
          font-size: 40px;
          margin-bottom: 0;
        }
        .field-name-field-profile-org {
          font-size: 20px;
          color: #888;
          font-style: italic;
        }
        .group-user-info {
          margin-left: -100px;
          margin-top: 30px;
          min-height: 20px;
          padding: 19px 19px 19px 100px;
          margin-bottom: 20px;
          background-color: #fff;
          border: 1px solid #e3e3e3;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          .field-label {
            color: #888;
          }
        }
      }
    }
  }
}

// attendees page
.page-node-community, .node-type-page {
  #content-content {
    .tabs {
      display: none;
    }
    .view-cod-community-attendees, .view-volunteers {
      text-align: center;
      .view-filters {
        .well;
        padding-bottom: 9px;
        padding-top: 29px;
        text-align: center;
        .views-exposed-widgets {
          text-align: center;
          display: inline-block;
          width: 100%;
          margin: 0;
          > div {
            display: inline-block;
            vertical-align: bottom;
            width: 30%;
            margin: 0 1% 10px;
            padding: 0;
            float: none;
            &.views-submit-button {
              input.form-submit {
                display: block;
                width: 100%;
                height: 48px;
                padding: 10px 0;
                font-size: 14px;
                line-height: 1.428571429;
                color: #fff;
                vertical-align: middle;
                background-color: @seccolor;
                background-image: none;
                border-radius: 4px;
                border: 0;
                cursor: pointer;
              }
            }
          }
        }
      }
      .view-content {
        margin-top: 50px;
        .views-row {
          width: 22%;
          padding: 0;
          margin: 0 1% 40px;
          display: inline-block;
          vertical-align: top;
          .field {
            display: inline-block;
          }
          .field-name-ds-user-picture {
            width: 100%;
            a {
              display: block;
              position: relative;
              border-radius: 50%;
              overflow: hidden;
              &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                box-shadow: inset 0 0 20px rgba(0,0,0,0.3);
                top: 0;
                left: 0;
              }
              > img {
                display: block;
              }
            }
          }
          .field-name-field-profile-first {
            font-size: 24px;
            line-height: 1.2;
            margin: 0 2px;
            > div {
              padding: 10px 0 0;
            }
          }
          .field-name-field-profile-last {
            font-size: 24px;
            line-height: 1.2;
            margin: 0 2px;
            > div {
              padding: 10px 0 0;
            }
          }
          .field-name-field-profile-org {
            width: 100%;
            font-size: 14px;
            font-style: italic;
            color: #888;
          }
        }
      }
    }
  }
}

// user page
.page-user {
  .region-content {
    form#user-login {
      min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: #fff;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      .form-item {
        display: inline-block;
        vertical-align: top;
        width: 49%;
        input.form-text {
          max-width: 95%;
        }
      }
    }
  }
}

// sponsors overview
.page-node-sponsors {
  #content-content {
    .tabs {
      display: none;
    }
    .view-cod-sponsors {
      > .view-content {
        text-align: center;
        > * {
          display: inline-block;
          &h3 {
            width: 100%;
          }
        }
      }
    }
  }
}

// page news
.page-news {
  .tabs {
    display: none;
  }
  #content-content {
    .view-cod-news {
      .views-row {
        padding: 0 0 20px;
        margin: 0 0 20px;
        border-bottom: 1px solid #ddd;
        .field-name-post-date {
          font-size: 12px;
          color: #999;
          font-style: italic;
          margin-bottom: 5px;
        }
      }
    }
  }
}

// sidebar menu theming
#content-sidebar {
  width: 24%;
  padding: 0;
  float: left;
  background: #e5e5e5;
  border-radius: 4px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      border-bottom: 1px solid #eee;
      a {
        padding: 10px 10%;
        display: inline-block;
        width: 80%;
        .transit;
        background: transparent;
        color: @basecolor;
        &:hover {
          background: @basecolor;
          color: #fff;
        }
        &.active {
          background: @seccolor;
          color: #fff;
        }
      }
      &:first-child a {
        border-radius: 4px 4px 0 0;
      }
      &:last-child a {
        border-radius: 0 0 4px 4px;
      }
    }
  }
}
#content-content.has-sidebar {
  width: 73%;
  float: right;
}

// sponsor page
.page-node-sponsors {
  #content-content {
    .view-cod-sponsors {
      .view-content {
        text-align: center;
        h3 {
          color: @seccolor;
          margin-bottom: 20px;
          padding-bottom: 10px;
          border-bottom: 1px dashed #ddd;
        }
        .sponsor {
          display: inline-block;
          .well;
          &:nth-child(5), &:nth-child(6) {
            width: 25%;
            display: inline-block;
            vertical-align: middle;
          }
          &:nth-child(8) {
            width: 15%;
          }
        }
      }
      .view-footer {
        text-align: center;
        margin-top: 50px;
      }
    }
  }
}

// sponsor detail pages
.node-type-sponsor {
  #content-content {
    .group-left {
      width: 65%;
      margin-bottom: 20px;
    }
    .group-right {
      background: #e5e5e5;
      width: 28%;
      padding: 20px 3%;
      border-radius: 4px;
      margin-bottom: 20px;
      .field {
        padding: 3px 0;
      }
      .field-name-field-sponsor-sponsorship-level .field-item {
        position: relative;
        display: block;
        color: @seccolor;
        &:before {
          content: "\f005";
          top: 3px;
          font-family: FontAwesome;
          font-size: 15px;
          margin-right: 10px;
        }
        &:after {
          content: "Sponsor";
          margin-left: 5px;
        }
      }
      .field-name-field-sponsor-url a {
        position: relative;
        color: #444;
        .transit;
        &:hover {
          color: @seccolor;
        }
        &:before {
          content: "\f0ac";
          top: 3px;
          font-family: FontAwesome;
          font-size: 15px;
          margin-right: 10px;
        }
      }
      .field-name-field-sponsor-related-attendees a {
        position: relative;
        color: #444;
        .transit;
        &:hover {
          color: @seccolor;
        }
        &:before {
          content: "\f007";
          top: 3px;
          font-family: FontAwesome;
          font-size: 15px;
          margin-right: 10px;
        }
      }
    }
    .group-footer {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px dashed #ddd;
      text-align: center;
    }
  }
  &.page-node-22 {
    .field-name-field-sponsor-logo {
      margin-top: 5px;
    }
  }
  &.page-node-23 {
    .field-name-field-sponsor-logo {
      margin-top: -15px;
    }
  }
  &.page-node-24 {
    .field-name-field-sponsor-logo {
      margin-top: -5px;
    }
  }
  &.page-node-45 {
    .field-name-field-sponsor-logo {
      margin-top: -24px;
    }
  }
}

// register page
#user-register-form > div {
  > .form-wrapper {
    text-align: center;
    margin: 0 0 30px;
    label {
      color: #444;
    }
    .description {
      color: #aaa;
    }
    input.form-text {
      text-align: center;
    }
    .field-widget-options-select, .form-type-checkbox {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }
    .form-type-password-confirm {
      > .form-item {
        width: 100%;
        .password-strength, div.password-confirm {
          float: none;
          margin-bottom: 1.5em;
          width: 100%;
        }
      }
      .password-suggestions {
        padding: 0.8em 0;
        width: 100%;
        ul {
          list-style-type: none;
        }
      }
    }
  }
}

.timeline {
  list-style: none;
  overflow: hidden;
  padding: 20px 0 20px;
  position: relative;
}

.timeline * {
  box-sizing: border-box;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #AAA;
  left: 50%;
  margin-left: -1.5px;
}

.tldate {
  display: block;
  width: 100%;
  background: #000;
  // border: 1px solid darken(@basecolor, 4%);
  color: #FFF;
  margin: 0 auto;
  padding: 3px 0;
  // font-weight: bold;
  text-align: center;
}

.item-list ul.timeline li {
  padding: 0;
  margin: 0 0 25px 0;
  position: relative;
  width: 46%;
  float: left;

  ul.contextual-links li {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.timeline h2 {
  border: none;
}

.timeline li .timeline-panel {
  background: #fff;
  border: 1px solid #AAA;
  padding: 0;
  width: 100%;
  > .node > div {
    padding: 5px;
    &.field-name-session-room, &.field-name-og-vocabulary, &.contextual-links-wrapper {
      padding: 0;
    }
  }
  .field-name-field-speakers {
    float: right;
    font-size: 85%;
    font-style: italic;
    margin: -30px 5px 0 0;
  }
}

.item-list ul.timeline li.schedule-item,
.timeline li .timeline-panel .node-schedule-item {
  width: 100%;
  .field-name-title {
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 0;
      width: 70%;
      a {
        color: #404040;
      }
    }
    &.schedule_breakfast, &.schedule_welcome, &.schedule_coffee {
      h2 {
        width: 100%;
        background: url(../images/icon-coffee.png) no-repeat center top;
        padding-top: 65px;
      }
    }
    &.schedule_lunch {
      h2 {
        width: 100%;
        background: url(../images/icon-eat.png) no-repeat center top;
        padding-top: 65px;
      }
    }
    &.schedule_drinks {
      h2 {
        width: 100%;
        background: url(../images/icon-drink.png) no-repeat center top;
        padding-top: 65px;
      }
    }
    &.schedule_bbq {
      h2 {
        width: 100%;
        background: url(../images/icon-bbq.png) no-repeat center top;
        padding-top: 65px;
      }
    }
    &.schedule_closing {
      h2 {
        width: 100%;
        background: url(../images/icon-closing.png) no-repeat center top;
        padding-top: 65px;
      }
    }
  }
}

.timeline li .timeline-panel .field-name-session-room {
  background: #e5e5e5;
  padding: 5px;
  text-align: center;
}

.timeline li .timeline-panel h2 {
  text-align: center;
}

.item-list ul.timeline li.tldate {
  clear: both;
  width: 100%;
}

/** panel arrows **/
.timeline-panel:before {
  position: absolute;
  top: 59px;
  right: -14px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #AAA;
  border-right: 0 solid #AAA;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline-panel:after {
  position: absolute;
  top: 60px;
  right: -13px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.schedule-item .timeline-panel:before, .schedule-item .timeline-panel:after {
  display: none;
}

.item-list ul.timeline li.timeline-inverted {
  float: right;
}

li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -14px;
  right: auto;
}

li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.experience-level {
  float: right;
  padding: 5px;
  height: 25px;
  text-align: center;
  text-indent: -9999px;
  width: 45px;
  margin-right: 5px;

  &.experience-level-beginner {
    background: url('../images/exp-beginner.png') no-repeat center right;
  }
  &.experience-level-intermediate {
    background: url('../images/exp-intermediate.png') no-repeat center right;
  }
  &.experience-level-advanced {
    background: url('../images/exp-advanced.png') no-repeat center right;
  }
}

.node-session.node-teaser {
  .field-name-field-speakers {
    .field-item {
      display: inline;
      &+.field-item:before {
        content: ', ';
      }
    }
  }
  .field-name-og-vocabulary {
    color: #FFF;
    .field-item {
      padding: 0 5px;
    }
  }
}
.node-session.view-mode-full {
  .group-footer {
    padding-top: 20px;
  }
}

.page-taxonomy .node-session {
  border: 1px solid #AAA;
  .experience-level {
    padding: 0;
  }
  .field-item {
    padding: 0 5px;
  }
}

// TABLET

@media screen and (max-width: 980px) {

  .page-node-community #content-content .view-cod-community-attendees .view-content .views-row,
  .node-type-page #content-content .view-cod-community-attendees .view-content .views-row,
  .page-node-community #content-content .view-volunteers .view-content .views-row,
  .node-type-page #content-content .view-volunteers .view-content .views-row {
    width: 38%;
    margin-left: 5%;
    margin-right: 5%;
  }

  body .maincontainer #intro #intro-inner .region-intro #block-block-3 .front-sponsors > a {
    margin: 10px 2%;
    width: 45%;
  }

  .item-list ul.timeline li {
    width: 100%;
    float: none;
  }
  .timeline-panel:before, .timeline-panel:after, li.timeline-inverted .timeline-panel:before, li.timeline-inverted .timeline-panel:after {
    display: none;
  }

  .ds-2col-stacked {
    .group-left, .group-right {
      display: block;
      float: none;
      width: 100%;
    }
  }

}


// MOBILE

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
    .maincontainer {
      word-break: break-word;
      min-width: 300px;
    }
  }

  h1 {
    margin-bottom: 40px;
  }

  .page-user .region-content form#user-login .form-item {
    width: 100%;
  }

  .page-node-community #content-content .view-cod-community-attendees .view-content .views-row .field-name-ds-user-picture a,
  .node-type-page #content-content .view-cod-community-attendees .view-content .views-row .field-name-ds-user-picture a,
  .page-node-community #content-content .view-volunteers .view-content .views-row .field-name-ds-user-picture a,
  .node-type-page #content-content .view-volunteers .view-content .views-row .field-name-ds-user-picture a {
    display: inline-block;
  }

  .page-user .tabs {
    margin-bottom: 10px;
    li {
      display: block;
      margin: 0 0 10px;
      a:after {
        display: none;
      }
    }
  }

  .page-node-community #content-content .view-cod-community-attendees .view-filters .views-exposed-widgets > div,
  .node-type-page #content-content .view-cod-community-attendees .view-filters .views-exposed-widgets > div,
  .page-node-community #content-content .view-volunteers .view-filters .views-exposed-widgets > div,
  .node-type-page #content-content .view-volunteers .view-filters .views-exposed-widgets > div {
    width: 47%;
  }

	.slicknav_menu {
		display: none !important;
	}

  #navbar-inner {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .group-left, .group-right, #content-sidebar, #content-content.has-sidebar,
  .page-node-5 #content-content .field-name-body .dateboxcontainer .datebox {
    width: 100%;
    margin: 0 0 30px;
  }

  .page-node-5 #content-content .field-name-body .dateboxcontainer .datebox {
    width: 100%;
    margin: 0 0 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .page-node-community #content-content .view-cod-community-attendees .view-content .views-row,
  .node-type-page #content-content .view-cod-community-attendees .view-content .views-row,
  .page-node-community #content-content .view-volunteers .view-content .views-row,
  .node-type-page #content-content .view-volunteers .view-content .views-row,
  .page-user #content-content .user-profile .group-left,
  .page-user #content-content .user-profile .group-right {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .node-type-sponsor #content-content .group-left,
  .node-type-sponsor #content-content .group-right {
    width: 90%;
    margin: 0 0 30px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .page-user #content-content .user-profile .group-right {
    padding-top: 0;
    .group-user-info {
      margin-left: 0;
      padding: 19px;
    }
    .field-name-field-profile-last, .field-name-field-profile-first {
      line-height: 1;
    }
  }

  body .maincontainer #intro #intro-inner {
    padding-top: 120px;
    .region-intro .block .intro-cta {
      display: none;
    }
    .region-intro #block-block-4 {
      margin-top: 40px;
    }
  }

}

// MOBILE LANDSCAPE

@media screen and (max-height: 370px) {



}


