@import "html5reset.css";
@import "regions.css";
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  line-height: 1.5;
}
a {
  color: #0491c6;
  text-decoration: none;
}
a:hover {
  color: #333;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
div.messages {
  margin: 0 0 30px;
  border: none;
  padding: 15px 0;
  border-radius: 4px;
  background-image: none;
  text-align: center;
}
.node-readmore a,
.more-link a,
.field-name-node-link a {
  color: white;
  background: #0491c6;
  border-radius: 4px;
  padding: 2px 7px;
  margin: 0;
  font-size: 11px;
}
.node-readmore a:hover,
.more-link a:hover,
.field-name-node-link a:hover {
  background: #404040;
}
#breadcrumb {
  margin: 0 0 30px;
  clear: both;
}
#breadcrumb #breadcrumb-inner {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}
#breadcrumb #breadcrumb-inner a {
  color: #fff;
}
#breadcrumb #breadcrumb-inner a:hover {
  color: #404040;
}
.field .field-label {
  font-weight: normal;
  text-transform: uppercase;
}
label {
  font-size: 12px;
  text-transform: uppercase;
  color: #bbb;
  font-weight: 400;
}
input.form-text {
  padding: 6px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #eee;
}
.tabs {
  clear: both;
  margin: 0 0 60px;
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 5;
}
.tabs > ul {
  background: none;
  padding: 0;
  width: 100%;
  border: none;
  text-align: center;
}
.tabs > ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: none;
}
.tabs > ul li.active a {
  background: #0491c6;
  position: relative;
  border: none;
  color: #fff;
  padding: 5px 10px;
}
.tabs > ul li.active a:after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border-top: 8px solid #0491c6;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.tabs > ul li a {
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  color: #333;
  padding: 5px 10px;
}
.tabs > ul li a.active {
  background: #0491c6;
  color: #fff;
  position: relative;
}
.tabs > ul li a.active:hover {
  background: #0491c6;
}
.tabs > ul li a.active:after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border-top: 8px solid #0491c6;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.tabs > ul li a:hover {
  background: #333;
  color: #fff;
}
.outerbox {
  padding: 20px 0;
}
.font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.font.bold {
  font-weight: 700;
}
.titlefont {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.titlefont.bold {
  font-weight: 700;
}
.transit {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
body.admin-menu {
  margin-top: 0 !important;
}
#admin-menu {
  position: fixed;
  top: 0;
  left: -140px;
  left: auto;
  width: 140px;
  height: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: visible;
}
#admin-menu:hover {
  right: 0;
}
#admin-menu:after {
  content: "";
  position: absolute;
  top: 50px;
  left: -29px;
  width: 30px;
  height: 30px;
  background: url(../images/icon-settings.svg) no-repeat 3px center;
  background-color: #202020;
  background-size: 20px;
  border-radius: 50% 0 0 50%;
  padding: 0;
  z-index: 99;
}
#admin-menu ul#admin-menu-menu > li {
  display: inline-block;
  width: 100%;
}
#admin-menu ul#admin-menu-menu > li > ul {
  margin: -28px 0 0 160px;
}
#admin-menu ul#admin-menu-menu > li > ul > li > ul {
  margin: -28px 0 0 160px;
}
h1 {
  font-size: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  margin: 0 0 80px;
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
}
h1.bold {
  font-weight: 700;
}
h1 span {
  border-bottom: 3px solid #0491c6;
  position: relative;
  margin-bottom: 0;
}
h1 span:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #0491c6;
  left: 50%;
  margin-left: -10px;
  bottom: -21px;
}
h2 {
  font-size: 24px;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 10px;
  color: #f26825;
  padding: 0 0 10px;
  border-bottom: 1px dashed #ddd;
}
h2.bold {
  font-weight: 700;
}
h2 a {
  color: #f26825;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
h2 a:hover {
  color: #0491c6;
}
#intro #block-block-3 h2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  padding: 0;
  margin: 0;
  border: 0;
}
h3 {
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
h3.bold {
  font-weight: 700;
}
.field-name-body {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.field-name-body.bold {
  font-weight: 700;
}
.field-name-body h2 {
  font-size: 24px;
  text-align: left;
  margin: 30px 0 10px;
  color: #f26825;
  padding: 0 0 10px;
  border-bottom: 1px dashed #ddd;
}
.field-name-body h3 {
  font-style: 18px;
  text-align: center;
  margin: 20px 0 0;
  color: #0491c6;
  padding: 0 0 10px;
}
.field-name-body p {
  margin: 0 0 10px;
}
.field-name-body table tr td p {
  margin: 7px 0;
}
.field-name-body ul,
ol {
  padding: 10px 20px 10px 40px;
  margin: 20px 0;
  border-left: 5px solid #eee;
  list-style: none;
}
.field-name-body ul > li,
ol > li {
  list-style: none;
  position: relative;
}
.field-name-body ul > li:before,
ol > li:before {
  content: "\f0a9";
  left: -24px;
  top: 3px;
  position: absolute;
  font-family: FontAwesome;
  font-size: 15px;
  color: #bbb;
}
.page-node-5 #content-content .field-name-body {
  text-align: center;
}
.page-node-5 #content-content .field-name-body .dateboxcontainer {
  text-align: center;
}
.page-node-5 #content-content .field-name-body .dateboxcontainer .datebox {
  display: inline-block;
  vertical-align: top;
  width: 26%;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 20px 1% 0;
  min-height: 20px;
  padding: 0 2%;
}
.page-node-5 #content-content .field-name-body .dateboxcontainer .datebox h2 {
  text-align: center;
  margin-top: 15px;
}
.page-node-5 #content-content .field-name-body .dateboxcontainer .datebox ul {
  text-align: left;
}
iframe {
  padding: 19px;
  max-width: 100%;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.cta {
  text-transform: uppercase;
  color: #fff;
  margin: 10px 0 5px;
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  padding: 0 40px;
  background: #0491c6;
  display: inline-block;
  text-align: center;
}
.cta:hover {
  background: #f26825;
  color: #fff;
}
input.form-text {
  display: block;
  width: 94%;
  height: 34px;
  padding: 6px 3%;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input.form-submit {
  background: #0491c6;
  padding: 5px 10px;
  border-radius: 4px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input.form-submit:hover {
  background: #f26825;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
}
table tr {
  border-bottom: 1px solid #ddd;
}
table tr:first-child {
  border-bottom: 3px solid #ddd;
  font-weight: 400;
}
table tr td {
  vertical-align: middle;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body.bold {
  font-weight: 700;
}
body #bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body #bg ul {
  height: 100%;
  display: block;
}
body #bg ul:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 9999;
  background: url(../images/bg/pattern.svg) repeat left top;
}
body #bg ul li.slide {
  height: 100%;
}
body #bg ul li.slide.slide01 {
  background: url(../images/bg/dcg2014-01.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide02 {
  background: url(../images/bg/dcg2014-02.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide03 {
  background: url(../images/bg/dcg2014-03.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide04 {
  background: url(../images/bg/dcg2014-04.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide05 {
  background: url(../images/bg/dcg2014-05.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide06 {
  background: url(../images/bg/dcg2014-06.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide07 {
  background: url(../images/bg/dcg2014-07.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide08 {
  background: url(../images/bg/dcg2014-08.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide09 {
  background: url(../images/bg/dcg2014-09.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide10 {
  background: url(../images/bg/dcg2014-10.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide11 {
  background: url(../images/bg/dcg2014-11.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide12 {
  background: url(../images/bg/dcg2014-12.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide13 {
  background: url(../images/bg/dcg2014-13.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide14 {
  background: url(../images/bg/dcg2014-14.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide15 {
  background: url(../images/bg/dcg2014-15.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide16 {
  background: url(../images/bg/dcg2014-16.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide17 {
  background: url(../images/bg/dcg2014-17.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide18 {
  background: url(../images/bg/dcg2014-18.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide19 {
  background: url(../images/bg/dcg2014-19.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide20 {
  background: url(../images/bg/dcg2014-20.jpg) no-repeat center;
  background-size: cover;
}
body #bg ul li.slide.slide21 {
  background: url(../images/bg/dcg2014-21.jpg) no-repeat center;
  background-size: cover;
}
body .closemenubutton {
  height: 45px;
  width: 45px;
  text-align: center;
  position: fixed;
  left: 219px;
  top: 16px;
  z-index: 99;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .closemenubutton svg path {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  fill: #f26825;
}
body .closemenubutton svg#closemenubutton-closed {
  display: none;
}
body .closemenubutton svg#closemenubutton-open {
  display: block;
}
body .closemenubutton:hover svg path {
  fill: #0491c6;
}
body .closemenubutton.open {
  left: 55px;
}
body .closemenubutton.open svg path {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  fill: #f26825;
}
body .closemenubutton.open svg#closemenubutton-closed {
  display: block;
}
body .closemenubutton.open svg#closemenubutton-open {
  display: none;
}
body .closemenubutton.open:hover svg path {
  fill: #0491c6;
}
body #navbar {
  position: fixed;
  z-index: 35;
  left: 0;
  top: 0;
  width: 40px;
  overflow: hidden;
  height: 100%;
  padding: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body #navbar.open,
body #navbar:focus,
body #navbar:active {
  width: 204px;
}
body #navbar #block-system-main-menu > .content > ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
body #navbar #block-system-main-menu > .content > ul.menu > li {
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid #444;
}
body #navbar #block-system-main-menu > .content > ul.menu > li > a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body #navbar #block-system-main-menu > .content > ul.menu > li > a:hover,
body #navbar #block-system-main-menu > .content > ul.menu > li > a:focus,
body #navbar #block-system-main-menu > .content > ul.menu > li > a:active {
  color: #f26825;
}
body #navbar #block-system-main-menu > .content > ul.menu > li.expanded {
  position: relative;
}
body #navbar #block-system-main-menu > .content > ul.menu > li.expanded:after {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 174px;
  margin-top: 18px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
body #navbar #block-system-main-menu > .content > ul.menu > li.expanded:after:hover,
body #navbar #block-system-main-menu > .content > ul.menu > li.expanded:after:focus,
body #navbar #block-system-main-menu > .content > ul.menu > li.expanded:after:active {
  color: #f26825;
}
body #navbar #block-system-main-menu > .content > ul.menu > li.expanded.open {
  padding-bottom: 0;
  background: #222;
}
body #navbar #block-system-main-menu > .content > ul.menu > li.expanded.open a.active {
  color: #fff;
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(1) > a:before {
  content: "\f015";
  font-family: FontAwesome;
  font-size: 22px;
  margin-right: 12px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(1) > a:hover:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(1) > a:focus:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(1) > a:active:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(1) > a.active:before {
  color: #f26825;
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(2) > a:before {
  content: "\f1a9";
  font-family: FontAwesome;
  font-size: 22px;
  margin-right: 12px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -2px;
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(2) > a:hover:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(2) > a:focus:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(2) > a:active:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(2) > a.active:before {
  color: #f26825;
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(3) > a:before {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 22px;
  margin-right: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(3) > a:hover:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(3) > a:focus:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(3) > a:active:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(3) > a.active:before {
  color: #f26825;
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(4) > a:before {
  content: "\f041";
  font-family: FontAwesome;
  font-size: 22px;
  margin-right: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 2px;
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(4) > a:hover:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(4) > a:focus:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(4) > a:active:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(4) > a.active:before {
  color: #f26825;
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(5) > a:before {
  content: "\f0c0";
  font-family: FontAwesome;
  font-size: 22px;
  margin-right: 11px;
  margin-left: -2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(5) > a:hover:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(5) > a:focus:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(5) > a:active:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(5) > a.active:before {
  color: #f26825;
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(6) > a {
  display: block;
  width: 204px;
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(6) > a:before {
  content: "\f007";
  font-family: FontAwesome;
  font-size: 22px;
  margin-right: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(6) > a:hover:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(6) > a:focus:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(6) > a:active:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(6) > a.active:before {
  color: #f26825;
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(7) > a {
  display: block;
  width: 204px;
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(7) > a:before {
  content: "\f011";
  font-family: FontAwesome;
  font-size: 22px;
  margin-right: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
}
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(7) > a:hover:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(7) > a:focus:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(7) > a:active:before,
body #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(7) > a.active:before {
  color: #f26825;
}
body #navbar #block-system-main-menu > .content > ul.menu > li.searchform-mainmenu {
  padding: 0;
}
body #navbar #block-system-main-menu > .content > ul.menu > li.searchform-mainmenu #search-block-form {
  width: 204px;
  padding: 0;
  position: relative;
}
body #navbar #block-system-main-menu > .content > ul.menu > li.searchform-mainmenu #search-block-form:before {
  content: "\f002";
  font-family: FontAwesome;
  position: absolute;
  left: 10px;
  top: 9px;
  z-index: 2;
  font-size: 22px;
  margin-right: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
}
body #navbar #block-system-main-menu > .content > ul.menu > li.searchform-mainmenu #search-block-form:hover:before,
body #navbar #block-system-main-menu > .content > ul.menu > li.searchform-mainmenu #search-block-form:focus:before,
body #navbar #block-system-main-menu > .content > ul.menu > li.searchform-mainmenu #search-block-form:active:before,
body #navbar #block-system-main-menu > .content > ul.menu > li.searchform-mainmenu #search-block-form.active:before {
  color: #f26825;
}
body #navbar #block-system-main-menu > .content > ul.menu > li.searchform-mainmenu input.form-text {
  width: 158px;
  padding: 8px 7px 8px 36px;
  border-radius: 0;
  background: transparent;
  color: #fff;
  border: 0;
}
body #navbar #block-system-main-menu > .content > ul.menu > li.searchform-mainmenu input.form-submit {
  display: none;
}
body #navbar #block-system-main-menu > .content > ul.menu > li > ul {
  display: none;
  list-style: none;
  margin: 10px 0 0;
}
body #navbar #block-system-main-menu > .content > ul.menu > li > ul > li {
  list-style: none;
  margin: 0;
  width: 200px;
  margin-left: -10px;
  padding: 0;
  border-top: 1px dashed #444;
}
body #navbar #block-system-main-menu > .content > ul.menu > li > ul > li > a {
  font-size: 14px;
  font-style: italic;
  padding: 5px 10px 7px 40px;
  display: block;
  margin: 0;
}
body #navbar #block-system-main-menu > .content > ul.menu > li > ul > li > a:hover,
body #navbar #block-system-main-menu > .content > ul.menu > li > ul > li > a:focus,
body #navbar #block-system-main-menu > .content > ul.menu > li > ul > li > a:active,
body #navbar #block-system-main-menu > .content > ul.menu > li > ul > li > a.active {
  color: #f26825;
}
body .maincontainer {
  margin-left: 40px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  z-index: 36;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .maincontainer.open {
  margin-left: 204px;
}
body .maincontainer #intro {
  background: transparent;
  text-align: center;
  padding: 0;
  color: #fff;
}
body .maincontainer #intro #intro-inner {
  position: relative;
  padding-top: 160px;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-logo {
  max-width: 550px;
  margin: 0 auto;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-body {
  max-width: 600px;
  margin: 20px auto;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: inline-block;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-body h2 {
  font-size: 44px;
  text-transform: uppercase;
  margin: 30px 0;
  padding: 0 0 30px;
  background: url(../images/line.svg) no-repeat center bottom;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-body h2.bold {
  font-weight: 700;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-body h2 span {
  color: #0491c6;
  line-height: 1;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-body p {
  font-weight: 300;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-cta {
  margin-top: 30px;
  position: relative;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-cta ul {
  list-style: none;
  text-align: center;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-cta ul > li {
  list-style: none;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-cta ul > li > a {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 10px;
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-cta ul > li > a:hover,
body .maincontainer #intro #intro-inner .region-intro .block .intro-cta ul > li > a:focus,
body .maincontainer #intro #intro-inner .region-intro .block .intro-cta ul > li > a:active {
  background: #fff;
  color: #444;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-cta ul > li > .content {
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: 60px;
  padding: 20px;
  left: 50%;
  background: #fff;
  color: #444;
  margin-left: -300px;
  width: 560px;
  border-radius: 4px;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-cta ul > li:nth-child(1) > .content:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 135px;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-cta ul > li:nth-child(2) > .content:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 258px;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-cta ul > li:nth-child(3) > .content:after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 168px;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
}
body .maincontainer #intro #intro-inner .region-intro .block .intro-cta ul > li:hover > .content {
  opacity: 1;
  z-index: 5;
}
body .maincontainer #intro #intro-inner .region-intro #block-block-3 {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
}
body .maincontainer #intro #intro-inner .region-intro #block-block-3 h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 18px;
}
body .maincontainer #intro #intro-inner .region-intro #block-block-3 h2.bold {
  font-weight: 700;
}
body .maincontainer #intro #intro-inner .region-intro #block-block-3 .front-sponsors {
  text-align: center;
  width: 100%;
  margin-top: -12px;
}
body .maincontainer #intro #intro-inner .region-intro #block-block-3 .front-sponsors > a {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 20px;
}
body .maincontainer #intro #intro-inner .region-intro #block-block-3 .front-sponsors > a img {
  width: 250px;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .maincontainer #intro #intro-inner .region-intro #block-block-3 .front-sponsors > a img:hover,
body .maincontainer #intro #intro-inner .region-intro #block-block-3 .front-sponsors > a img:focus,
body .maincontainer #intro #intro-inner .region-intro #block-block-3 .front-sponsors > a img:active {
  opacity: 1;
}
body .maincontainer #intro #intro-inner .region-intro #block-block-4 {
  margin-top: 60px;
  color: #fff;
  font-size: 18px;
}
body .maincontainer #menubar {
  display: none;
  height: 40px;
  padding: 15px 0;
  margin-top: 0;
  background: rgba(255, 255, 255, 0.9);
  background-size: cover;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
body .maincontainer #menubar .sliderbutton {
  position: absolute;
  cursor: pointer;
  width: 38px;
  height: 40px;
  z-index: 99;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
}
body .maincontainer #menubar .sliderbutton.block-user-login {
  background: url(../images/icon-user.svg) no-repeat center;
  right: 60px;
  top: 15px;
}
body .maincontainer #menubar .sliderbutton.block-system-user-menu {
  background: url(../images/icon-user.svg) no-repeat center;
  right: 60px;
  top: 15px;
}
body .maincontainer #menubar .sliderbutton.block-system-main-menu {
  background: url(../images/icon-menu.svg) no-repeat center;
  left: 20px;
  top: 15px;
}
body .maincontainer #menubar .sliderbutton.block-system-main-menu.open:before {
  content: "\f0a8";
  font-family: FontAwesome;
  font-size: 20px;
  margin-right: 10px;
  color: #444;
}
body .maincontainer #menubar .sliderbutton.block-search-form {
  background: url(../images/icon-search.svg) no-repeat center;
  right: 20px;
  top: 15px;
}
body .maincontainer #menubar .sliderbutton:hover,
body .maincontainer #menubar .sliderbutton:focus,
body .maincontainer #menubar .sliderbutton:active {
  opacity: 1;
}
body .maincontainer #menubar .sliderbutton.open {
  opacity: 1;
  background-color: #ddd;
  border-radius: 5px;
}
body .maincontainer #menubar #block-user-login {
  position: absolute;
  border-radius: 4px;
  z-index: 998;
  right: 20px;
  bottom: 75px;
  top: auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
}
body .maincontainer #menubar #block-user-login:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  bottom: -20px;
  top: auto;
  right: 48px;
}
body .maincontainer #menubar #block-system-user-menu {
  position: absolute;
  border-radius: 4px;
  z-index: 998;
  right: 20px;
  bottom: 75px;
  top: auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
}
body .maincontainer #menubar #block-system-user-menu:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  bottom: -20px;
  top: auto;
  right: 48px;
}
body .maincontainer #menubar #block-search-form {
  position: absolute;
  border-radius: 4px;
  z-index: 1000;
  right: 20px;
  bottom: 75px;
  top: auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
}
body .maincontainer #menubar #block-search-form:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  bottom: -20px;
  top: auto;
  right: 8px;
}
body .maincontainer #menubar.sticky {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 999;
}
body .maincontainer #menubar.sticky #block-user-login {
  top: 75px;
  bottom: auto;
}
body .maincontainer #menubar.sticky #block-user-login:after {
  bottom: auto;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
body .maincontainer #menubar.sticky #block-system-user-menu {
  top: 75px;
  bottom: auto;
}
body .maincontainer #menubar.sticky #block-system-user-menu:after {
  bottom: auto;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
body .maincontainer #menubar.sticky #block-system-main-menu {
  top: 0;
  bottom: auto;
}
body .maincontainer #menubar.sticky #block-system-main-menu:after {
  bottom: auto;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #000;
}
body .maincontainer #menubar.sticky #block-search-form {
  top: 75px;
  bottom: auto;
}
body .maincontainer #menubar.sticky #block-search-form:after {
  bottom: auto;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
body .maincontainer #menubar #menubar-inner {
  text-align: center;
}
body .maincontainer #menubar #menubar-inner a#logo {
  margin: 0;
  display: inline-block;
  text-align: center;
}
body .maincontainer #menubar #menubar-inner a#logo img {
  width: auto;
  height: 40px;
}
body .maincontainer #menubar #menubar-inner #name-and-slogan {
  float: left;
  margin: 7px 0;
}
body .maincontainer #menubar #menubar-inner #name-and-slogan a {
  text-transform: uppercase;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
body .maincontainer #menubar #menubar-inner #name-and-slogan a.bold {
  font-weight: 700;
}
body .maincontainer #preface {
  background: #f6f6f6;
}
body .maincontainer #preface.sticky {
  margin-top: 70px;
}
body .maincontainer #content {
  background: #f6f6f6;
  padding: 50px 0 100px;
  margin-top: 0;
}
body .maincontainer #postscript {
  background: #ddd;
  padding: 50px 0 30px;
}
body .maincontainer #postscript #block-views-cod-sponsors-block {
  text-align: center;
}
body .maincontainer #postscript #block-views-cod-sponsors-block .views-row {
  opacity: 0.3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin-bottom: 20px;
}
body .maincontainer #postscript #block-views-cod-sponsors-block .views-row img {
  max-height: 70px;
  width: auto;
}
body .maincontainer #postscript #block-views-cod-sponsors-block .views-row:hover,
body .maincontainer #postscript #block-views-cod-sponsors-block .views-row:focus,
body .maincontainer #postscript #block-views-cod-sponsors-block .views-row:active {
  opacity: 0.8;
}
body .maincontainer #footer {
  background: #202020;
  color: #888;
  font-size: 14px;
  text-align: center;
}
body .maincontainer #footer a {
  color: #0491c6;
}
body.front .tabs {
  display: none;
}
body.not-front #bg {
  left: 0;
  background: #202020;
  top: 0;
}
body.not-front #bg ul li.slide {
  height: 140px;
}
body.not-front #navbar {
  z-index: 35;
}
body.not-front .maincontent {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  z-index: 36;
}
body.not-front #intro {
  height: 140px;
}
body.not-front #menubar {
  display: none;
}
body.not-front #content {
  margin-top: 0;
  padding: 50px 0 100px;
  z-index: 30;
  position: relative;
}
body.not-logged-in #navbar #block-system-main-menu > .content > ul.menu > li:nth-child(8) > a:before {
  content: "\f055";
  font-family: FontAwesome;
  font-size: 22px;
  margin-right: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
}
.page-search #content-content .search-form {
  position: relative;
}
.page-search #content-content .search-form input.form-submit {
  position: absolute;
  right: 10px;
  top: 34px;
}
.page-search #content-content .search-results li.search-result:before {
  top: 4px;
}
.page-search #content-content .search-results li.search-result h3 {
  text-align: left;
}
.page-search #content-content .search-results li.search-result .search-snippet-info {
  padding-left: 0;
}
.page-search #content-content .search-results li.search-result .search-snippet-info strong {
  font-weight: 300;
  color: #f26825;
}
.page-user #content-content .user-profile .group-left {
  width: 30%;
}
.page-user #content-content .user-profile .group-left > .field-name-ds-user-picture {
  float: left;
}
.page-user #content-content .user-profile .group-left > .field-name-ds-user-picture a {
  display: block;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.page-user #content-content .user-profile .group-left > .field-name-ds-user-picture a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}
.page-user #content-content .user-profile .group-left > .field-name-ds-user-picture a > img {
  display: block;
}
.page-user #content-content .user-profile .group-right {
  width: 67%;
  float: right;
  padding-top: 20px;
}
.page-user #content-content .user-profile .group-right .field-name-field-profile-first {
  float: left;
  margin-right: 10px;
  font-size: 40px;
  margin-bottom: 0;
}
.page-user #content-content .user-profile .group-right .field-name-field-profile-last {
  font-size: 40px;
  margin-bottom: 0;
}
.page-user #content-content .user-profile .group-right .field-name-field-profile-org {
  font-size: 20px;
  color: #888;
  font-style: italic;
}
.page-user #content-content .user-profile .group-right .group-user-info {
  margin-left: -100px;
  margin-top: 30px;
  min-height: 20px;
  padding: 19px 19px 19px 100px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.page-user #content-content .user-profile .group-right .group-user-info .field-label {
  color: #888;
}
.page-node-community #content-content .tabs,
.node-type-page #content-content .tabs {
  display: none;
}
.page-node-community #content-content .view-cod-community-attendees,
.node-type-page #content-content .view-cod-community-attendees,
.page-node-community #content-content .view-volunteers,
.node-type-page #content-content .view-volunteers {
  text-align: center;
}
.page-node-community #content-content .view-cod-community-attendees .view-filters,
.node-type-page #content-content .view-cod-community-attendees .view-filters,
.page-node-community #content-content .view-volunteers .view-filters,
.node-type-page #content-content .view-volunteers .view-filters {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding-bottom: 9px;
  padding-top: 29px;
  text-align: center;
}
.page-node-community #content-content .view-cod-community-attendees .view-filters .views-exposed-widgets,
.node-type-page #content-content .view-cod-community-attendees .view-filters .views-exposed-widgets,
.page-node-community #content-content .view-volunteers .view-filters .views-exposed-widgets,
.node-type-page #content-content .view-volunteers .view-filters .views-exposed-widgets {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 0;
}
.page-node-community #content-content .view-cod-community-attendees .view-filters .views-exposed-widgets > div,
.node-type-page #content-content .view-cod-community-attendees .view-filters .views-exposed-widgets > div,
.page-node-community #content-content .view-volunteers .view-filters .views-exposed-widgets > div,
.node-type-page #content-content .view-volunteers .view-filters .views-exposed-widgets > div {
  display: inline-block;
  vertical-align: bottom;
  width: 30%;
  margin: 0 1% 10px;
  padding: 0;
  float: none;
}
.page-node-community #content-content .view-cod-community-attendees .view-filters .views-exposed-widgets > div.views-submit-button input.form-submit,
.node-type-page #content-content .view-cod-community-attendees .view-filters .views-exposed-widgets > div.views-submit-button input.form-submit,
.page-node-community #content-content .view-volunteers .view-filters .views-exposed-widgets > div.views-submit-button input.form-submit,
.node-type-page #content-content .view-volunteers .view-filters .views-exposed-widgets > div.views-submit-button input.form-submit {
  display: block;
  width: 100%;
  height: 48px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.428571429;
  color: #fff;
  vertical-align: middle;
  background-color: #f26825;
  background-image: none;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.page-node-community #content-content .view-cod-community-attendees .view-content,
.node-type-page #content-content .view-cod-community-attendees .view-content,
.page-node-community #content-content .view-volunteers .view-content,
.node-type-page #content-content .view-volunteers .view-content {
  margin-top: 50px;
}
.page-node-community #content-content .view-cod-community-attendees .view-content .views-row,
.node-type-page #content-content .view-cod-community-attendees .view-content .views-row,
.page-node-community #content-content .view-volunteers .view-content .views-row,
.node-type-page #content-content .view-volunteers .view-content .views-row {
  width: 22%;
  padding: 0;
  margin: 0 1% 40px;
  display: inline-block;
  vertical-align: top;
}
.page-node-community #content-content .view-cod-community-attendees .view-content .views-row .field,
.node-type-page #content-content .view-cod-community-attendees .view-content .views-row .field,
.page-node-community #content-content .view-volunteers .view-content .views-row .field,
.node-type-page #content-content .view-volunteers .view-content .views-row .field {
  display: inline-block;
}
.page-node-community #content-content .view-cod-community-attendees .view-content .views-row .field-name-ds-user-picture,
.node-type-page #content-content .view-cod-community-attendees .view-content .views-row .field-name-ds-user-picture,
.page-node-community #content-content .view-volunteers .view-content .views-row .field-name-ds-user-picture,
.node-type-page #content-content .view-volunteers .view-content .views-row .field-name-ds-user-picture {
  width: 100%;
}
.page-node-community #content-content .view-cod-community-attendees .view-content .views-row .field-name-ds-user-picture a,
.node-type-page #content-content .view-cod-community-attendees .view-content .views-row .field-name-ds-user-picture a,
.page-node-community #content-content .view-volunteers .view-content .views-row .field-name-ds-user-picture a,
.node-type-page #content-content .view-volunteers .view-content .views-row .field-name-ds-user-picture a {
  display: block;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.page-node-community #content-content .view-cod-community-attendees .view-content .views-row .field-name-ds-user-picture a:after,
.node-type-page #content-content .view-cod-community-attendees .view-content .views-row .field-name-ds-user-picture a:after,
.page-node-community #content-content .view-volunteers .view-content .views-row .field-name-ds-user-picture a:after,
.node-type-page #content-content .view-volunteers .view-content .views-row .field-name-ds-user-picture a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}
.page-node-community #content-content .view-cod-community-attendees .view-content .views-row .field-name-ds-user-picture a > img,
.node-type-page #content-content .view-cod-community-attendees .view-content .views-row .field-name-ds-user-picture a > img,
.page-node-community #content-content .view-volunteers .view-content .views-row .field-name-ds-user-picture a > img,
.node-type-page #content-content .view-volunteers .view-content .views-row .field-name-ds-user-picture a > img {
  display: block;
}
.page-node-community #content-content .view-cod-community-attendees .view-content .views-row .field-name-field-profile-first,
.node-type-page #content-content .view-cod-community-attendees .view-content .views-row .field-name-field-profile-first,
.page-node-community #content-content .view-volunteers .view-content .views-row .field-name-field-profile-first,
.node-type-page #content-content .view-volunteers .view-content .views-row .field-name-field-profile-first {
  font-size: 24px;
  line-height: 1.2;
  margin: 0 2px;
}
.page-node-community #content-content .view-cod-community-attendees .view-content .views-row .field-name-field-profile-first > div,
.node-type-page #content-content .view-cod-community-attendees .view-content .views-row .field-name-field-profile-first > div,
.page-node-community #content-content .view-volunteers .view-content .views-row .field-name-field-profile-first > div,
.node-type-page #content-content .view-volunteers .view-content .views-row .field-name-field-profile-first > div {
  padding: 10px 0 0;
}
.page-node-community #content-content .view-cod-community-attendees .view-content .views-row .field-name-field-profile-last,
.node-type-page #content-content .view-cod-community-attendees .view-content .views-row .field-name-field-profile-last,
.page-node-community #content-content .view-volunteers .view-content .views-row .field-name-field-profile-last,
.node-type-page #content-content .view-volunteers .view-content .views-row .field-name-field-profile-last {
  font-size: 24px;
  line-height: 1.2;
  margin: 0 2px;
}
.page-node-community #content-content .view-cod-community-attendees .view-content .views-row .field-name-field-profile-last > div,
.node-type-page #content-content .view-cod-community-attendees .view-content .views-row .field-name-field-profile-last > div,
.page-node-community #content-content .view-volunteers .view-content .views-row .field-name-field-profile-last > div,
.node-type-page #content-content .view-volunteers .view-content .views-row .field-name-field-profile-last > div {
  padding: 10px 0 0;
}
.page-node-community #content-content .view-cod-community-attendees .view-content .views-row .field-name-field-profile-org,
.node-type-page #content-content .view-cod-community-attendees .view-content .views-row .field-name-field-profile-org,
.page-node-community #content-content .view-volunteers .view-content .views-row .field-name-field-profile-org,
.node-type-page #content-content .view-volunteers .view-content .views-row .field-name-field-profile-org {
  width: 100%;
  font-size: 14px;
  font-style: italic;
  color: #888;
}
.page-user .region-content form#user-login {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.page-user .region-content form#user-login .form-item {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
.page-user .region-content form#user-login .form-item input.form-text {
  max-width: 95%;
}
.page-node-sponsors #content-content .tabs {
  display: none;
}
.page-node-sponsors #content-content .view-cod-sponsors > .view-content {
  text-align: center;
}
.page-node-sponsors #content-content .view-cod-sponsors > .view-content > * {
  display: inline-block;
}
.page-node-sponsors #content-content .view-cod-sponsors > .view-content > *h3 {
  width: 100%;
}
.page-news .tabs {
  display: none;
}
.page-news #content-content .view-cod-news .views-row {
  padding: 0 0 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid #ddd;
}
.page-news #content-content .view-cod-news .views-row .field-name-post-date {
  font-size: 12px;
  color: #999;
  font-style: italic;
  margin-bottom: 5px;
}
#content-sidebar {
  width: 24%;
  padding: 0;
  float: left;
  background: #e5e5e5;
  border-radius: 4px;
}
#content-sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#content-sidebar ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #eee;
}
#content-sidebar ul li a {
  padding: 10px 10%;
  display: inline-block;
  width: 80%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: transparent;
  color: #0491c6;
}
#content-sidebar ul li a:hover {
  background: #0491c6;
  color: #fff;
}
#content-sidebar ul li a.active {
  background: #f26825;
  color: #fff;
}
#content-sidebar ul li:first-child a {
  border-radius: 4px 4px 0 0;
}
#content-sidebar ul li:last-child a {
  border-radius: 0 0 4px 4px;
}
#content-content.has-sidebar {
  width: 73%;
  float: right;
}
.page-node-sponsors #content-content .view-cod-sponsors .view-content {
  text-align: center;
}
.page-node-sponsors #content-content .view-cod-sponsors .view-content h3 {
  color: #f26825;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddd;
}
.page-node-sponsors #content-content .view-cod-sponsors .view-content .sponsor {
  display: inline-block;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.page-node-sponsors #content-content .view-cod-sponsors .view-content .sponsor:nth-child(5),
.page-node-sponsors #content-content .view-cod-sponsors .view-content .sponsor:nth-child(6) {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}
.page-node-sponsors #content-content .view-cod-sponsors .view-content .sponsor:nth-child(8) {
  width: 15%;
}
.page-node-sponsors #content-content .view-cod-sponsors .view-footer {
  text-align: center;
  margin-top: 50px;
}
.node-type-sponsor #content-content .group-left {
  width: 65%;
  margin-bottom: 20px;
}
.node-type-sponsor #content-content .group-right {
  background: #e5e5e5;
  width: 28%;
  padding: 20px 3%;
  border-radius: 4px;
  margin-bottom: 20px;
}
.node-type-sponsor #content-content .group-right .field {
  padding: 3px 0;
}
.node-type-sponsor #content-content .group-right .field-name-field-sponsor-sponsorship-level .field-item {
  position: relative;
  display: block;
  color: #f26825;
}
.node-type-sponsor #content-content .group-right .field-name-field-sponsor-sponsorship-level .field-item:before {
  content: "\f005";
  top: 3px;
  font-family: FontAwesome;
  font-size: 15px;
  margin-right: 10px;
}
.node-type-sponsor #content-content .group-right .field-name-field-sponsor-sponsorship-level .field-item:after {
  content: "Sponsor";
  margin-left: 5px;
}
.node-type-sponsor #content-content .group-right .field-name-field-sponsor-url a {
  position: relative;
  color: #444;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.node-type-sponsor #content-content .group-right .field-name-field-sponsor-url a:hover {
  color: #f26825;
}
.node-type-sponsor #content-content .group-right .field-name-field-sponsor-url a:before {
  content: "\f0ac";
  top: 3px;
  font-family: FontAwesome;
  font-size: 15px;
  margin-right: 10px;
}
.node-type-sponsor #content-content .group-right .field-name-field-sponsor-related-attendees a {
  position: relative;
  color: #444;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.node-type-sponsor #content-content .group-right .field-name-field-sponsor-related-attendees a:hover {
  color: #f26825;
}
.node-type-sponsor #content-content .group-right .field-name-field-sponsor-related-attendees a:before {
  content: "\f007";
  top: 3px;
  font-family: FontAwesome;
  font-size: 15px;
  margin-right: 10px;
}
.node-type-sponsor #content-content .group-footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dashed #ddd;
  text-align: center;
}
.node-type-sponsor.page-node-22 .field-name-field-sponsor-logo {
  margin-top: 5px;
}
.node-type-sponsor.page-node-23 .field-name-field-sponsor-logo {
  margin-top: -15px;
}
.node-type-sponsor.page-node-24 .field-name-field-sponsor-logo {
  margin-top: -5px;
}
.node-type-sponsor.page-node-45 .field-name-field-sponsor-logo {
  margin-top: -24px;
}
#user-register-form > div > .form-wrapper {
  text-align: center;
  margin: 0 0 30px;
}
#user-register-form > div > .form-wrapper label {
  color: #444;
}
#user-register-form > div > .form-wrapper .description {
  color: #aaa;
}
#user-register-form > div > .form-wrapper input.form-text {
  text-align: center;
}
#user-register-form > div > .form-wrapper .field-widget-options-select,
#user-register-form > div > .form-wrapper .form-type-checkbox {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
#user-register-form > div > .form-wrapper .form-type-password-confirm > .form-item {
  width: 100%;
}
#user-register-form > div > .form-wrapper .form-type-password-confirm > .form-item .password-strength,
#user-register-form > div > .form-wrapper .form-type-password-confirm > .form-item div.password-confirm {
  float: none;
  margin-bottom: 1.5em;
  width: 100%;
}
#user-register-form > div > .form-wrapper .form-type-password-confirm .password-suggestions {
  padding: 0.8em 0;
  width: 100%;
}
#user-register-form > div > .form-wrapper .form-type-password-confirm .password-suggestions ul {
  list-style-type: none;
}
@media screen and (max-width: 980px) {
  .page-node-community #content-content .view-cod-community-attendees .view-content .views-row,
  .node-type-page #content-content .view-cod-community-attendees .view-content .views-row,
  .page-node-community #content-content .view-volunteers .view-content .views-row,
  .node-type-page #content-content .view-volunteers .view-content .views-row {
    width: 38%;
    margin-left: 5%;
    margin-right: 5%;
  }
  body .maincontainer #intro #intro-inner .region-intro #block-block-3 .front-sponsors > a {
    margin: 10px 2%;
    width: 45%;
  }
}
@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  body .maincontainer {
    word-break: break-word;
    min-width: 300px;
  }
  h1 {
    margin-bottom: 40px;
  }
  .page-user .region-content form#user-login .form-item {
    width: 100%;
  }
  .page-node-community #content-content .view-cod-community-attendees .view-content .views-row .field-name-ds-user-picture a,
  .node-type-page #content-content .view-cod-community-attendees .view-content .views-row .field-name-ds-user-picture a,
  .page-node-community #content-content .view-volunteers .view-content .views-row .field-name-ds-user-picture a,
  .node-type-page #content-content .view-volunteers .view-content .views-row .field-name-ds-user-picture a {
    display: inline-block;
  }
  .page-user .tabs {
    margin-bottom: 10px;
  }
  .page-user .tabs li {
    display: block;
    margin: 0 0 10px;
  }
  .page-user .tabs li a:after {
    display: none;
  }
  .page-node-community #content-content .view-cod-community-attendees .view-filters .views-exposed-widgets > div,
  .node-type-page #content-content .view-cod-community-attendees .view-filters .views-exposed-widgets > div,
  .page-node-community #content-content .view-volunteers .view-filters .views-exposed-widgets > div,
  .node-type-page #content-content .view-volunteers .view-filters .views-exposed-widgets > div {
    width: 47%;
  }
  .slicknav_menu {
    display: none !important;
  }
  #navbar-inner {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .group-left,
  .group-right,
  #content-sidebar,
  #content-content.has-sidebar,
  .page-node-5 #content-content .field-name-body .dateboxcontainer .datebox {
    width: 100%;
    margin: 0 0 30px;
  }
  .page-node-5 #content-content .field-name-body .dateboxcontainer .datebox {
    width: 100%;
    margin: 0 0 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .page-node-community #content-content .view-cod-community-attendees .view-content .views-row,
  .node-type-page #content-content .view-cod-community-attendees .view-content .views-row,
  .page-node-community #content-content .view-volunteers .view-content .views-row,
  .node-type-page #content-content .view-volunteers .view-content .views-row,
  .page-user #content-content .user-profile .group-left,
  .page-user #content-content .user-profile .group-right {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .node-type-sponsor #content-content .group-left,
  .node-type-sponsor #content-content .group-right {
    width: 90%;
    margin: 0 0 30px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .page-user #content-content .user-profile .group-right {
    padding-top: 0;
  }
  .page-user #content-content .user-profile .group-right .group-user-info {
    margin-left: 0;
    padding: 19px;
  }
  .page-user #content-content .user-profile .group-right .field-name-field-profile-last,
  .page-user #content-content .user-profile .group-right .field-name-field-profile-first {
    line-height: 1;
  }
  body .maincontainer #intro #intro-inner {
    padding-top: 120px;
  }
  body .maincontainer #intro #intro-inner .region-intro .block .intro-cta {
    display: none;
  }
  body .maincontainer #intro #intro-inner .region-intro #block-block-4 {
    margin-top: 40px;
  }
}
